body {
  background-image: url("../img/baggrund2.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.h1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 0%;
}
h1 {
  margin-top: 6rem;
  padding-left: 1rem;
  font-size: xx-large;
}
.img {
  display: grid;
  justify-content: center;
  gap: 3rem;
}
.img img {
  width: 250px;
  /* max-width: 450px; */
  height: auto;
  object-fit: cover;
  display: grid;
  justify-content: center;
}
