@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asset&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

* {
  margin: 0;
}
:root {
  --color-bg1: #fcf6ea;
  --color-h1: #374b59;
  --color-h2: #547761;
  --color-p: #000;
  --color-header-bg: rgba(150, 170, 184, 0.5);
  --color-h3_t1-t4: #5b5346;
  --color-h3_t2-t5: #4a6855;
  --color-h3_t3-t6: #fcf6ea;
  --color-bg_t1-t4: #ddeff9;
  --color-bg_t2-t5: #c2cc97;
  --color-bg_t3-t6: #dbc7c8;
  --color-nav_txt: #374b59;
}
/* Mobil first */
/* generalle styles */
body {
  font-family: "Tenor Sans", sans-serif;
  color: var(--color-p);
  font-size: 12px;
  background-color: var(--color-bg1);
}
h1 {
  font-family: "Notable", sans-serif;
  color: var(--color-h1);
}
.folio {
  font-family: "Asset", sans-serif;
  color: var(--color-h1);
}
h2 {
  font-family: "Asset", sans-serif;
  color: var(--color-h2);
  overflow-wrap: break-word;
  padding-left: 1rem;
}
p {
  padding: 1rem;
  line-height: 1.5;
  max-width: 65ch;
}

/* Burgermenu */
.menu {
  display: none;
}
nav ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-nav_txt);
}
.burger {
  display: block;
  background-color: transparent;
  border: 0;
  flex: 0 0 auto;
  margin: 0 20px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-nav_txt);
  margin-bottom: 5px;
  transition: 0.2s linear;
  border-radius: 10px;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}
.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.2s linear;
}
.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}
nav.active .menu {
  display: block;
  background-color: var(--color-header-bg);
  position: absolute;
  top: 5rem;
  right: 0;
  width: 180px;
  height: 250px;
  z-index: 1;
  border-radius: 10px 0px 0 10px;
}
nav.active .menu li {
  margin: 40px 20px;
  text-align: right;
}
nav.active .menu a {
  font-size: 20px;
  color: var(--color-nav_txt);
}
/* header */
header {
  background-color: var(--color-header-bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.logo {
  height: 80px;
  width: auto;
  position: absolute;
  top: -10px;
  left: 10px;
}
/* footer */
footer {
  background-color: var(--color-header-bg);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}
